img {
  display: block;
  margin-left: auto;
  margin-right: auto;
/* Style the topnav */
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}